  <header class="normal-header">

        <nav>
            <h2 class="nav-item nav-header" onclick="location.href='/'">PHONEARENA</h2>
            <div id="menu-bar"><i class="fas fa-ellipsis-h"></i></div>
            <ul class="nav-item nav-tabs">
                <li class="nav-tab" onclick="location.href='index.html'"><i class="fas fa-home"></i>Home</li>
                <li class="nav-tab"><i class="fas fa-comment"></i> Reviews</li>
                <li class="nav-tab"><i class="fas fa-video"></i> Videos</li>
                <li class="nav-tab" onclick="location.href='/contact'"><i class="fas fa-phone"></i> Contact</li>
            </ul>
        </nav>
    </header>