  <div class="loader_bg">
        <div class="loader">
            <img src="https://i.pinimg.com/originals/70/7c/39/707c39bfff546612b5b4604fe86cda32.gif" width="200%"
                height="auto">
        </div>
    </div>