
<html>
  <head>
    <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e9b049ff8c.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{>loader}}
    {{>header}}
    {{{body}}}
    {{>footer}}
           

<script src="/javascripts/app.js"></script>
  </body>
</html>
