<section class="control">
 
    <div class="control-div">
        <ul>
            <li>Dodaj telefon</li>
        </ul>
    </div>
    <form class="addPhone" method="POST" action="/addPhone">
<input type="text" name="model" placeholder="Model">
<input type="text" name="brand" placeholder="Brand">
<input type="text" name="phoneImage" placeholder="Image URL">
<input type="number" name="price" placeholder="Price">
<input type="date" name="announced" placeholder="Announced">
<input type="date" name="realased" placeholder="Realased">
<input type="number" name="size" placeholder="Size">
<input type="text" name="type" placeholder="Screen type">
<input type="text" name="resolution" placeholder="resolution">
<input type="text" name="protection" placeholder="Protection">
 <input type="text" name="os" placeholder="Operating system">
 <input type="text" name="chipset" placeholder="Chipset">
 <input type="text" name="cpu" placeholder="CPU">
 <input type="text" name="gpu" placeholder="GPU">
 <input type="number" name="ram" placeholder="RAM">
 <input type = "text" name="MP" placeholder="MP">
 <input type="text" name="p" placeholder="camera p">
 <input type="number" name="batteryCapacity" placeholder="Battery capacity">
 <input type="text" name="batteryMaterial" placeholder="Battery material">
    </form>
    <form class="addReview" method="POST" action="/addReview">
    <
    </form>
</section>