<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

 

<div class="container" id="compare">
    <h2>Compare</h2>
    <div class="row feature-table">

      <div class="col-sm-3 feature-block th1">
        
              <div class="autocomplete"><input id="compareInput1"></div>
        <div id="cardBody1">

        </div>
     
      </div>
      <div class="col-sm-3 feature-block th2">
       
              <div class="autocomplete"><input id="compareInput2"></div>
        <div id="cardBody2">

        </div>
      </div>
      <div class="col-sm-3 feature-block th3">
     
             <div class="autocomplete"><input id="compareInput3"></div>
        <div id="cardBody3">

        </div>
      </div>
      
    </div>
  </div>


      
<script src="/javascripts/compare.js"></script>