

    <section class="contact-us">
        <div class="contact-us-header">
            <h2>Kontaktirajte nas brzo i lako</h2>
        </div>
        <div class="contact-us-form-div">
            <form method="POST" class="contact-us-form" action='/sendmessage'>
                <input class="contact-us-form-element" type="email" name="email" placeholder="Email">
                <input class="contact-us-form-element" type="text" name="name" placeholder="Ime">
                <textarea class="contact-us-form-element" rows="10" name="text" placeholder="Tekst"></textarea>
                <button type="submit" class="contact-us-form-button">Posalji poruku</button>
            </form>
        </div>
    </section>
   