 <section class="search">

        <h2>Sve recenzije telefona na jednom mestu</h2>
        <form class="search-form" autocomplete="off">
            <div class="autocomplete">
            <input type="text" name="search" placeholder="Pretraga" id="search-input" class="search-form-thing">
           </div>
            <button type="submit" name="submit" class="search-form-thing search-form-button"><i
                    class="fas fa-search"></i></button>
                    
        </form>
    </section>
    <section class="comapre">
        <div class="compare-div">
            <img src='./img/iPhone-SE-2nd-generation-vs-iPhone-SE-1st-generation.png'>
        </div>
        <div class="compare-div">
            <h2>Uporedi modele sa drugima </h2>
            <img src="https://blog.wavecrest.net/wp-content/uploads/2016/05/compare-contrast.png" width="100%"
                height="auto">
        </div>
    </section>

    <section id="news" class="card-group position-static">
   
    </section>
   <script src="/javascripts/index.js"></script>